
@{
    ViewBag.Title = "Preguntas frecuentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preguntas frecuentes</h2>
<br>
<div class="card">
    <h5 class="card-header">¿Cómo me registro en el sitio?</h5>
    <div class="card-body">
        <p>
            1. En la parte superior derecha hay un enlace con la leyenda "Registrarse", haga click en él.<br />
            2. Rellene el formulario con sus datos personales.<br />
            3. Acepte los términos y condiciones y haga click en "Registar Cuenta".<br />
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">¿Problemas al iniciar sesión?</h5>
    <div class="card-body">
        <p>Verifique que su contraseña y nombre de usuarios sean correctos.
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">¿Cómo puedo recuperar mi contraseña?</h5>
    <div class="card-body">
        <p>Envíe un correo a <a href="mailto:ayuda@pds2store.com">ayuda@pds2store.com</a> con asunto "Olvidé mi contraseña" y verificando su identidad le enviaremos un enlace para reestablecer su contraseña.
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header"> ¿Cómo agrego productos a mi carrito de compras?</h5>
    <div class="card-body">
        <p>1. Seleccione un producto que desea añadir al carrito.<br />
           2. Haga click en el boton "Añadir a Carrito".<br />
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header"> ¿Cuáles son los métodos de pago? </h5>
    <div class="card-body">
        <p>
            Actualmente solo aceptamos pago por tarjeta de crédito o débito.<br />
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">¿Como puedo obtener una devolución? </h5>
    <div class="card-body">
        <p>Envíe un correo a <a href="mailto:ayuda@pds2store.com">ayuda@pds2store.com</a> con asunto "Devolución" y con gusto atenderemos su reclamación.
        </p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">¿Puedo comprar si no resido en México?</h5>
    <div class="card-body">
        <p class="card-text">No. De momento no contamos con cobertura fuera de México.</p>
    </div>
</div>