@{
    ViewBag.Title = "Más que solo compras.";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/Content/imagenes/027-p-1080-fade.png');
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
            margin: 0;
        }
    </style>
}

<div class="jumbotron" style="
        background: rgb(217,221,230);
        background-image: url('https://image.freepik.com/foto-gratis/mujer-feliz-levantando-bolsas-papel_23-2148339237.jpg'), linear-gradient(180deg, rgba(217,221,230,1) 0%, rgba(203,206,217,1) 100%);
        background-repeat: no-repeat;
        margin-top: -1.5em">
    <h1>Bienvenido a PDS2</h1>
    <p class="lead">Las mejores ofertas. La mejor experiencia.</p>
    <!---<p><a href="#" class="btn btn-primary btn-lg">Ver mas ... &raquo;</a></p>-->
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="/Producto/Details/62"><img src="/Content/imagenes/Productos/Carrusel/PS5.png" alt="Playstation 5"></a>
        </div>

        <div class="item">
            <a href="/Producto/Details/60"><img src="/Content/imagenes/Productos/Carrusel/PS4 bundle.png" alt="Playstation 4"></a>
        </div>

        <div class="item">
            <a href="/Producto/Details/61"><img src="/Content/imagenes/Productos/Carrusel/Switch.png" alt="Nintendo Switch"></a>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row" style="margin-top: 4em">
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/pantallalg.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">LG 27QN600-B 27" QHD (2560 x 1440) Pantalla IPS con FreeSync, sRGB 99% Gama de Colores</h3>
                <p class="card-text">Precio: <b>$6999.99</b></p>
                <a href="/Producto/Details/54" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/bolsatoto.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">Tote Bolsa para Mujer PU Cuero - Moda Bolso de Mano con Asa Bandolera Gran Capacidad Suave</h3>
                <p class="card-text">Precio: <b>$585.00</b></p>
                <a href="/Producto/Details/55" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/escudotoallas.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">Escudo Toallitas Húmedas Desinfectantes para Superficies, Paquete con 80 Toallitas</h3>
                <p class="card-text">Precio: <b>$75.00</b></p>
                <a href="/Producto/Details/57" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/cubrebocas.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">SUNCOO Disposable Face Mask Dust Particle 3-Layer Design - Pack of 50</h3>
                <p class="card-text">Precio: <b>$648.27</b></p>
                <a href="/Producto/Details/56" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/paquetesombras.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">Iluminador, Rubor y Bronzer en Polvo Cheek</h3>
                <p class="card-text">Precio: <b>$160.00</b></p>
                <a href="/Producto/Details/58" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div >
            <img class="img-thumbnail" src="/Content/imagenes/Productos/Home/rubor1.jpg" alt="Card image cap">
            <div class="card-body" style="margin-bottom: 2.5em">
                <h3 class="card-title">Iluminador cy glow up - rose - CYZONE</h3>
                <p class="card-text">Precio: <b>$144.81</b></p>
                <a href="/Producto/Details/59" class="btn btn-primary">Ver producto</a>
            </div>
        </div>
    </div>
</div>