@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        if (User.IsInRole("cliente"))
        {
            <!-- Boton Carrito en barra normal-->
            <button type="button" class="btn navbar-btn hidden-xs" aria-expanded="true" style="background-color: transparent;color: #f4faff; border: 2px solid #f4faff">
                <span class="icon-bar fas fa-cart-plus" color:#fdfffc;></span>
            </button>
        }
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            <a href='@Url.Action("Login", "Account")'><i class="fas fa-sign-in-alt active " color:#fdfffc;></i> Inicia Sesion</a>
        </li>
    </ul>
}
