
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Reportes</h2>

<a href="/Reportes/ReporteEstado" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Reportes por Estado</a>
<a href="/Reportes/ReporteCategoria" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Reportes por Categoria</a>
<a href="/Reportes/ReporteProducto" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Reportes por Productos</a>
<a href="/Reportes/ReporteCliente" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Reportes de Clientes</a>
<a href="/Reportes/ReporteVendedor" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Reportes de Vendedores</a>


