@model List<PDS2_Store.Models.Producto>
@{
    ViewBag.Title = "CategoriaView";
}

<h2>CategoriaView</h2>

<div class="row row-cols-2 row-cols-lg-4">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <img src=@item.ImagePath class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.UnitPrice</p>
                    <p class="card-text">@item.Vendedor.nombre</p>
                </div>
            </div>
        </div>

    }

</div>